In [29]:
import pandas as pd
import numpy as np

# Membuat dataframe dari dataset
data = pd.DataFrame({
    'Nama': ['Andi', 'Budi', 'Cindy', 'David', 'Eva'],
    'Usia': [25, 30, np.nan, 28, 35],
    'Alamat': ['Jakarta', 'Bandung', 'Surabaya', np.nan, 'Yogyakarta'],
    'Pekerjaan': ['PNS', 'Swasta', 'Ibu Rumah Tangga', 'Wiraswasta', 'Dosen']
})

# Menampilkan data awal
print("Data Awal:")
print(data)
print()

# Menghapus baris yang mengandung nilai null
data = data.dropna()

# Menampilkan data setelah menghapus baris yang mengandung nilai null
print("Data setelah menghapus baris yang mengandung nilai null:")
print(data)
print()

# Mengubah kolom Usia menjadi tipe data integer
data['Usia'] = data['Usia'].astype('int')

# Menampilkan data setelah mengubah tipe data kolom Usia menjadi integer
print("Data setelah mengubah tipe data kolom Usia menjadi integer:")
print(data)
print()

# Mengubah semua huruf pada kolom Alamat menjadi huruf kapital
data['Alamat'] = data['Alamat'].str.upper()

# Menampilkan data setelah mengubah semua huruf pada kolom Alamat menjadi huruf kapital
print("Data setelah mengubah semua huruf pada kolom Alamat menjadi huruf kapital:")
print(data)
print()

Data Awal:
    Nama  Usia      Alamat         Pekerjaan
0   Andi  25.0     Jakarta               PNS
1   Budi  30.0     Bandung            Swasta
2  Cindy   NaN    Surabaya  Ibu Rumah Tangga
3  David  28.0         NaN        Wiraswasta
4    Eva  35.0  Yogyakarta             Dosen

Data setelah menghapus baris yang mengandung nilai null:
   Nama  Usia      Alamat Pekerjaan
0  Andi  25.0     Jakarta       PNS
1  Budi  30.0     Bandung    Swasta
4   Eva  35.0  Yogyakarta     Dosen

Data setelah mengubah tipe data kolom Usia menjadi integer:
   Nama  Usia      Alamat Pekerjaan
0  Andi    25     Jakarta       PNS
1  Budi    30     Bandung    Swasta
4   Eva    35  Yogyakarta     Dosen

Data setelah mengubah semua huruf pada kolom Alamat menjadi huruf kapital:
   Nama  Usia      Alamat Pekerjaan
0  Andi    25     JAKARTA       PNS
1  Budi    30     BANDUNG    Swasta
4   Eva    35  YOGYAKARTA     Dosen